html, body, .pusher{
    height: 100%;
}
#content_page{
    height: 100%;
    min-height: 100%;
    /*background: url('../images/bg.jpg') repeat;*/
}
ul{
	padding: 0;
	padding-top: 65px;
	padding-bottom: 160px;
}
li{
    list-style-type: none;
    margin-bottom: 10px;
	
}
.column{
    margin-top: 20px;
}
header{
    height: 66px;
    position: relative;
}
header a.nav{
    font-size: 2.5em !important;
    color: #FFF;
    position: absolute;
    top: 24px;
    left: 15px;
    cursor: pointer;
}
header h1{
    text-align: center;
    text-transform: uppercase;
    margin: 3px;
    font-size: 1.8em;
}
header a:hover{
    font-size: 2.5em !important;
    color: #ededed;
}
header.tweet{
    background-color: #15b59d;
    color: #FFF;
    padding: 15px;
	position: fixed;
    width: 100%;
    /*margin-top: -20px;*/
    z-index: 100;
}

#actionBar{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #FFF;
    padding: 15px;
	border-top: 3px solid#15b59d;
}
.card{width: 100% !important;}


/*MESSAGE TWEET*/
.headerTweet{
    width: 100%;
    padding: 10px;
    background: #FFF;
	/*
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;*/
    border: 1px solid #e4e4e4;
}
.contentTweet{
    width: 100%;
    padding: 10px;
    background: #FFF;
   /* -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;*/
    border: 1px solid #e4e4e4;
    overflow: hidden;
}
.contentTweet p{
    font-size: 1.2rem;
    line-height: 1.7rem;
}
.actionTweet{
    border-top: 1px solid #e4e4e4;
    padding: 15px 0 5px;
	display:none;
}
.likeTweet{
    border: 1px solid #eaeaea;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
}
.footerTweet{
    width: 100%;
    padding: 10px;
    background: #FFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
}
.authorTweet span{
    text-transform: uppercase;
}
.authorTweet .sub{
    font-style: italic;
}


/*COLOR THEME UI*/
    /*bouton*/
    .blue{
        text-transform: uppercase !important;
        font-size: 1.3rem !important;
        background-color: #007aff !important;
        font-weight: bold !important;
    }
	.green {
    text-transform: uppercase !important;
    font-size: 1.3rem !important;
    background-color: #15b59d !important;
    font-weight: bold !important;
}
	
    /*modal*/
    .ui.modal .actions>.button{
       margin-left: 0 !important;
    }
	
	
	.logo {
	margin-top: -14px;
    margin-left: 58px;
	}
	#room{
		color:black;
		float: right;
		margin-top: -50px;
	}
	
	.ui.positive.button{background-color:#2585cf!important;color:#FFF;text-shadow:none;background-image:none}
	.ui.positive.button:hover, .ui.positive.buttons .button:hover {
    background-color: #2585cf!important;
    color: #FFF;
    text-shadow: none;
}

#currentroom{
    margin-left:10px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.roomask{
    color: green;
    font-weight: bold;
}

.roomdone{
    color: #4183C4;
    font-weight: none;
    text-decoration: none;
}

.roomnew{
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

.roomdown{
    color: red;
    font-weight: bold;
    text-decoration: none;
}

a {
    cursor: pointer;
}

.quit{

    background-color: #ff4d4d;
    width:80px;
    float: right;
    color:#ffffff;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    text-align: center;
    border-radius: .28571429rem;
    padding: .78571429em 1.5em;
    font-weight: 700;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.time{
    font-size: 12px;
    color:silver;
    float:right;
}

.circle {
    width: 12px;
    height: 12px;
    background: green;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.alert{
    display: inline-block;
    margin-left:5px;
    top: 1px;
    position: relative;
}
.noAlert{
    display: none;
    margin-left:5px;
    top: 1px;
    position: relative;
}

.greenc {
    background: green;
}

.orangec {
    background: orange;
}

.redc {
    background: red;
}